<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Modifying Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<!-- ADDED JavaScript -->
		<script src="javascripts/CustomerScript.js"></script>
  </head>
  <body>
	  <% if (error != null) { %> 
		<script>
		alert(`<%= error  %>`)
	</script>
  
  <% } %>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	<a class="navbar-brand" href="/">Food delivery shop</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav mr-auto">
		
	  </ul>
	  </ul>
	  <a class= "btn btn-outline-primary" href="customerProfile" style="margin-right:20px;">Customer profile <span class="sr-only">(current)</span></a>
	  <form class="form-inline mt-2 mt-md-0" form method="post" action="customerProfile">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
	  </form>
	</div>
  </nav>
    <h1>CS2102: <%= title%></h1>
		<form id="html_form" action="customer" role="form" method="post" class="needs-validation">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Enter your username">
				<small id="matricHelp" class="form-text text-muted">Put your username here</small>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" aria-describedby="password" placeholder="Enter your password">
				<small id="matricHelp" class="form-text text-muted">Put your password here</small>
			</div>
			<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Submit</button>
		</form>

		<a href='\customerNew'>Click here if you are a new customer</a>
		<p><a href='\'>Click here to go back</a></p>
		
		<script>
			(function() {
				window.addEventListener('load', function() {
					var forms = [document.getElementById('html_form')];
					var validation = Array.prototype.filter.call(forms, function(form) {
						form.addEventListener('submit', check, false);
					});
				}, false);
			})();
		</script>
  </body>
</html>
