<!DOCTYPE html>
<html>

<head>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="#">Food delivery shop</a>
	  </nav>
	<!-- Page Title -->
	<title>Change your password</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- CSS for Styling -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		crossorigin="anonymous">

	<!-- JavaScript for Interactivity -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

	<!-- ADDED JavaScript -->
	<script src="javascripts/ChangePassword.js"></script>
</head>

<body>
	<% if (sess.numrows == 0) { %>
	<script>
		alert("Wrong previous password!");
	</script>

	<% } %>
	<h1>Edit your password</h1>
	<form id="html_form" action="customerEditPassword" role="form" method="post">
		<div class="form-group">
			<label for="previouspw">Enter your previous password</label>
			<input type="text" class="form-control" id="previouspw" name="previouspw"
				aria-describedby="matricHelp" placeholder="Your previous password">
			<small id="matricHelp" class="form-text text-muted">Do not share your password with anyone
				else.</small>
		</div>
		<div class="form-group">
			<label for="password">Enter your new password</label>
			<input type="text" class="form-control" id="password" name="password"
				placeholder="Your new password">
		</div>
		<div class="form-group">
			<label for="password2">Re-enter your new password</label>
			<input type="text" class="form-control" id="password2" name="password2"
				placeholder="Your new password">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<p><a href="/customerProfile">Click here to go back</a></p>

	<script>
		(function () {
			window.addEventListener('load', function () {
				var forms = [document.getElementById('html_form')];
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', check, false);
				});
			}, false);
		})();
	</script>
</body>

</html>