<!DOCTYPE html>
<html>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="#">CS2102 Food delivery service</a>
	  </nav>
<head>
    <!-- Page Title -->
    <title>Order summary</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <!-- ADDED JavaScript -->
    <script src="javascripts/checkDates.js"></script>
</head>

<body>
<p><a href="/managerProfile">Click here to move back</a></p>
<h1>Please specify a time period</h1>
<form id="html_form" action="orderStatistics" role="form" method="post">
    <div class="form-group">
        <label for="startdate">Start date (inclusive)</label>
        <input type="date" class="form-control" id="startdate" name="startdate" aria-describedby="startdate"
               placeholder="start date">
    </div>
    <div class="form-group">
        <label for="enddate">End date (exclusive)</label>
        <input type="date" class="form-control" id="enddate" name="enddate" aria-describedby="enddate"
               placeholder="end date">
        <h1>Or specify a month</h1>
    </div>
    <div class="form-group">
        <label for="month">Month</label>
        <input type="month" class="form-control" id="month" name="month" aria-describedby="month"
               placeholder="month" step="1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    (function () {
        window.addEventListener('load', function () {
            var forms = [document.getElementById('html_form')];
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', check, false);
            });
        }, false);
    })();
</script>
</body>
</html>
