<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Database Connect</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	<a class="navbar-brand" href="/">CS2102 Food delivery service</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav mr-auto">
		
	  </ul>
	  </ul>
	  <a class= "btn btn-outline-primary" href="customerProfile" style="margin-right:20px;">Customer profile <span class="sr-only">(current)</span></a>
	  <form class="form-inline mt-2 mt-md-0" form method="post" action="customerProfile">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
	  </form>
	</div>
  </nav>
  <body>
	<h1 class="display-4 font-weight-normal"><%= title%></h1>
	<% if (data.length > 0) {  %> 
		<table  class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col">Reviews</th>
					<th scope="col">Customer name</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<data.length; i++) { %>
				<tr>
					<td><%= data[i].review%></td>
					<td><%= data[i].username%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% } else { %>
		<p class="lead font-weight-normal">Sorry. There is no reviews for this food yet</p>
		<% } %>

		<a href="/orderFood" class="btn btn-outline-secondary">Return to ordering food</a>
  </body>
</html>
